# Core scientific stack
lightgbm==4.7.0
matplotlib==3.11.1
numpy==2.5.2
pandas==3.0.5
scikit-learn==1.9.0
scipy==1.18.1
xgboost==3.4.1
optuna==4.9.0

# Optuna integrations and extras used in section-08-optuna
optuna-integration==4.9.0
torch==2.13.0
optunahub==0.4.1

# At the time of writing, SMAC was not compatible with scikit-learn 1.9.0.
smac==2.4.0
